<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body data-gr-c-s-loaded="true">
<form action="/" method="post" class="container-fluid  bg-dark">
    <nav class="navbar-dark sticky-top flex-nowrap p-0 shadow">
      <div class="navbar-brand col-3">Search state</div>
      <div class="navbar-brand col-6">
        <input class="form-control form-control-dark w-100" name="input" type="text" placeholder="Enter a name of state" aria-label="Search" required>
      </div>
      <div class="navbar-brand col-2">
        <button type="submit" style="width: 100%">search</button>
      </div>

    </nav>
</form>

<div class="container-fluid">
  <div class="row">

    <main role="main" class="col-md-12 ml-sm-auto col-lg-112 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">USA COVID-19 testing</h1>
      </div>
        {% block picture %} {% endblock %}
      <h2>Coefficients</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>

                <th><p>average ratio between 'positive increase'<br> and 'total increase' growth rates </p></th>
                <th><p>average ratio between 'negative increase'<br> and 'total increase' growth rates </p></th>
              <th>USA average positive to total</th>
              <th>USA average negative to total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{% block postot %}{% endblock %}</td>
              <td>{% block negtot %}{% endblock %}</td>
              <td>{% block usa_postot %}{% endblock %}</td>
              <td>{% block usa_negtot %}{% endblock %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
</body>
</html>